<form method="post" id="{{_form}}" enctype="multipart/form-data">
<div class="row">
	<div class="span6">

<p>
	<label>{"Your name"}</label>
	<input type="text" name="name" value="{{ name|quotes }}" />
</p>

<p>
	<label>{"Email address"}</label>
	<input type="email" name="email" value="{{ email|quotes }}" autocomplete="off" />
</p>

<p>
	<label>{"New password"}</label>
	<input type="password" name="new_pass" value="{{ new_pass|quotes }}" autocomplete="off" />
</p>

<p>
	<label>{"Verify password"}</label>
	<input type="password" name="ver_pass" value="{{ ver_pass|quotes }}" autocomplete="off" />
</p>

	</div>
	<div class="span6">

<p>
	<label>{"Profile photo (160x160)"}</label><br />
	<img src="{{photo}}" width="160" height="160" style="padding-bottom: 5px" /><br />
	<input type="file" name="photo" />
</p>

<p><br /><input type="submit" value="{"Update settings"}" /></p>

	</div>
</div>

<hr />

<div class="row">
	<div class="span6">

<p>
	<label>{"Organization name"}</label>
	<input type="text" name="org_name" value="{{ org_name|quotes }}" />
</p>

<p>
	<label>{"Change your domain"}:</label>
	<div class="input-append">
		<input type="text" name="subdomain" id="subdomain" value="{{ subdomain|quotes }}" />
		<span class="add-on">.{{ saasy\App::base_domain () }}</span>
	</div>
</p>

	</div>
	<div class="span6">

<p>
	<label>{"Organization logo (250x40)"}</label><br />
	{% if org_logo %}
	<img src="{{org_logo}}" width="250" height="40" style="padding-bottom: 5px" /><br />
	{% else %}
	<img src="/apps/saasy/pix/default.png" width="250" height="40" style="padding-bottom: 5px" /><br />
	{% end %}
	<input type="file" name="org_logo" />
</p>

<p><br /><input type="submit" value="{"Update settings"}" /></p>

	</div>
</div>
</form>

<hr />

<p style="float: right; margin-top: 18px;">
	<a href="{{ saasy\App::href () }}/account/add">{"Add a member"}</a>
</p>

<h2>{"Members"}</h2>

<p>...</p>

<script>
$(function () {
	$(':file').filestyle ();
});
</script>
